1                       ICON    DISCARDABLE     "RES\\XQWIZARD.ICO"
2                       ICON    DISCARDABLE     "RES\\PGN.ICO"
3                       ICON    DISCARDABLE     "RES\\FEN.ICO"
4                       ICON    DISCARDABLE     "RES\\XQF.ICO"
