1                       ICON    DISCARDABLE     "ICONS\\XQARENA.ICO"
8                       ICON    DISCARDABLE     "ICONS\\QUOTE.ICO"
15                      ICON    DISCARDABLE     "ICONS\\WIN.ICO"
16                      ICON    DISCARDABLE     "ICONS\\DRAW.ICO"
17                      ICON    DISCARDABLE     "ICONS\\LOSS.ICO"