1                       ICON    DISCARDABLE     "ICONS\\XQBOOTH.ICO"
8                       ICON    DISCARDABLE     "ICONS\\QUOTE.ICO"
15                      ICON    DISCARDABLE     "ICONS\\WIN.ICO"
17                      ICON    DISCARDABLE     "ICONS\\LOSS.ICO"