1                       ICON    DISCARDABLE     "ICONS\\XQSCHOOL.ICO"
8                       ICON    DISCARDABLE     "ICONS\\QUOTE.ICO"
15                      ICON    DISCARDABLE     "ICONS\\WIN.ICO"