1                       ICON    DISCARDABLE     "XQWIZARD.ICO"
2                       ICON    DISCARDABLE     "PGN.ICO"
3                       ICON    DISCARDABLE     "FEN.ICO"
4                       ICON    DISCARDABLE     "XQF.ICO"
5                       ICON    DISCARDABLE     "MXQ.ICO"
6                       ICON    DISCARDABLE     "CHE.ICO"
7                       ICON    DISCARDABLE     "XQWSUPER.ICO"
8                       ICON    DISCARDABLE     "QUOTE.ICO"
9                       ICON    DISCARDABLE     "CHN.ICO"
10                      ICON    DISCARDABLE     "CCM.ICO"