1                       ICON    DISCARDABLE     "ICONS\\XQWIZARD.ICO"
2                       ICON    DISCARDABLE     "ICONS\\PGN.ICO"
3                       ICON    DISCARDABLE     "ICONS\\FEN.ICO"
4                       ICON    DISCARDABLE     "ICONS\\XQF.ICO"
5                       ICON    DISCARDABLE     "ICONS\\MXQ.ICO"
6                       ICON    DISCARDABLE     "ICONS\\CHE.ICO"
7                       ICON    DISCARDABLE     "ICONS\\XQWSUPER.ICO"
8                       ICON    DISCARDABLE     "ICONS\\QUOTE.ICO"
9                       ICON    DISCARDABLE     "ICONS\\CHN.ICO"
10                      ICON    DISCARDABLE     "ICONS\\CCM.ICO"
15                      ICON    DISCARDABLE     "ICONS\\WIN.ICO"
16                      ICON    DISCARDABLE     "ICONS\\DRAW.ICO"
17                      ICON    DISCARDABLE     "ICONS\\LOSS.ICO"