1                       ICON    DISCARDABLE     "RES\\XQWIZARD.ICO"
2                       ICON    DISCARDABLE     "RES\\PGN.ICO"
3                       ICON    DISCARDABLE     "RES\\FEN.ICO"
4                       ICON    DISCARDABLE     "RES\\XQF.ICO"
5                       ICON    DISCARDABLE     "RES\\MXQ.ICO"
6                       ICON    DISCARDABLE     "RES\\CHE.ICO"
7                       ICON    DISCARDABLE     "RES\\XQWSUPER.ICO"
8                       ICON    DISCARDABLE     "RES\\KUNG.ICO"